/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}

.book-library{
	background-color: #ffffff;
	display:flex;
	flex-direction:column;
	gap:10px;
}

.book{
background-color:rgb(255, 255, 255);	
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.price{
	background-color:#2ecc71;
	color: #ffffff;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:5px;
}
.author{
	color: #777777;
}
