/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}

.book-library{
	Background color: #ffffff;
	display:flex;
	flex-direction:column;
	gap:10px;
}

.book{
	border:1px solid black;
	
}

.price{
	border:1px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:5px;
	background-color:rgb(46, 204, 113);
}

